---
layout: default
---

<div class="home">

	<p>These sites let you sign up and start earning money doing all sorts of things. I've ranked them in order of how effective I found them. Keep in mind this is from the point of view of an Australian trying to earn money using mostly passive methods. If you're in a different situation then your results may vary.</p>

  <ul class="post-list">
  	{% assign sortedPosts = "" | split:"|" %}
  	{% for post in site.posts %}
  		{% if post.categories[0] == "site" %}
  			{% assign sortedPosts = sortedPosts | push: post %}
  		{% endif %}
  	{% endfor %}
  
  	{% assign sortedPosts = sortedPosts | sort: 'rating' | reverse %}

    {% for post in sortedPosts %}
    	
    		<li class="post-link">
        		<a href="{{ post.url | prepend: site.baseurl }}">
        		{% if post.icon-img %}
        			<img class="site-icon" src="/assets/site-logos/{{ post.icon-img }}" alt="{{ post.title }}" />
        		{% endif %}
            </a>
            <div class="link-details">
              <a href="{{ post.url | prepend: site.baseurl }}">
        		    <h2>{{ post.title }}</h2>	
              </a>
              <p class="sub-details">My rating: {{ post.rating}} / 10
            </div>
      		</li>
    	
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
