---
layout: default
---

<div class="home">

  <h1 class="page-heading">Sites</h1>

  <ul class="post-list">
    {% for post in site.posts %}
    	{% if post.categories[0] == "site" %}
    		<li>
        		<a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
        		{% if post.icon-img %}
        			<img class="site-icon" src="/assets/site-logos/{{ post.icon-img }}" alt="{{ post.title }}" />
						{% else %}
        			<h2>{{ post.title }}</h2>	
        		{% endif %}
        		</a>
      		</li>
    	{% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
