
.icon-th-list:before { content: '\e800'; } /* '' */
.icon-credit-card:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-th:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-video:before { content: '\e805'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-ticket:before { content: '\f145'; } /* '' */
.icon-pound:before { content: '\f154'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-bitcoin:before { content: '\f15a'; } /* '' */
.icon-paypal:before { content: '\f1ed'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */