---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <a href="{{ page.referral-link}}">
    {% if page.banner-img %}
    	<img src="/assets/site-logos/{{ page.banner-img }}" alt="{{ page.title }}" />
    {% else %}
    	<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% endif %}
    </a>
  </header>
  
  <div class="site-params">
  	<p>Currency unit<br/> {{ page.earn-unit }}</p>
  	<p>Total earned<br/> {{ page.total-earned }} {{ page.unit }}</p>
  	<p>Total paid<br/> ${{ page.total-paid }} AUD</p>
  	<p>Minimum redeem<br/> {{ page.minimum-redeem }} </p>
  </div>
  
	<div class="features site-params">
		{% assign features = page.features | split: ',' %}
		{% for f in features %}
			{% assign fName = f | split: '.' | first %}
			{% assign fClass = f | split: '.' | last %}
			
			<p class="color-{{ fClass }}">
			{{ fName }}<br/>
			{% if fName == "search" %}
				<i class="icon-search"></i>
			{% elsif fName == "surveys" %}
				<i class="icon-th-list"></i>
			{% elsif fName == "videos" %}
				<i class="icon-video"></i>	
			{% elsif fName == "games" %}
				<i class="icon-gamepad"></i>
			{% elsif fName == "offer wall" %}
				<i class="icon-th"></i>
			{% elsif fName == "shopping" %}
				<i class="icon-basket"></i>	
			{% elsif fName == "sweeps" %}
				<i class="icon-ticket"></i>	
			{% endif %}
			</p>
		{% endfor %}	
	</div>
  
  
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

</article>
