---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <a href="{{ page.referral-link}}">
    {% if page.banner-img %}
    	<img src="/assets/site-logos/{{ page.banner-img }}" alt="{{ page.title }}" />
    {% else %}
    	<h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% endif %}
    </a>
    {% if page.rating %}
    	<h2>Overall rating: {{ page.rating }} / 10</h2>
      <div style="display:flex">
        <p>Rate this site: </p>
        <ul class="c-rating" id="rating" style="width:120px;padding-left: 30px"></ul>
      </div>
    {% endif %}
  </header>
  
  <div class="center-block">
    <h2>Features</h2>
    <div class="features site-params">

      {% assign features = page.features | split: ',' %}
      {% for f in features %}
        {% assign fName = f | split: '.' | first %}
        {% assign fClass = f | split: '.' | last %}

        <a href="/site/glossary#{{ fName }}"><p class="color-{{ fClass }}">
        {{ fName }}<br/>
        {% if fName == "search" %}
          <i class="icon-search"></i>
        {% elsif fName == "surveys" %}
          <i class="icon-th-list"></i>
        {% elsif fName == "videos" %}
          <i class="icon-video"></i>	
        {% elsif fName == "games" %}
          <i class="icon-gamepad"></i>
        {% elsif fName == "offer wall" %}
          <i class="icon-th"></i>
        {% elsif fName == "shopping" %}
          <i class="icon-basket"></i>	
        {% elsif fName == "sweeps" %}
          <i class="icon-ticket"></i>	
        {% elsif fName == "tasks" %}
          <i class="icon-wrench"></i>	
        {% elsif fName == "interest" %}
          <i class="icon-dollar"></i>	
        {% elsif fName == "monitoring" %}
          <i class="icon-desktop"></i>
        {% elsif fName == "pay to click" %}
          <i class="icon-cursor"></i>
        {% elsif fName == "radio" %}
          <i class="icon-mic"></i>
        {% endif %}
      </p></a>
      {% endfor %}	
    </div>
  </div>
  
  {% if page.earn-unit %}
  <div class="center-block">
    <h2>Stats</h2>
    <div class="site-params">
  	<p>Currency unit<br/> {{ page.earn-unit }}</p>
  	{% if page.conversion %}
  		<p>Conversion<br/> {{ page.conversion }}</p>
  	{% endif %}
  	<p>Total earned<br/> {{ page.total-earned }} {{ page.unit }}</p>
  	<p>Total paid<br/> ${{ page.total-paid }} AUD</p>
  	<p>Minimum redeem<br/> {{ page.minimum-redeem }} </p>
  </div>
  </div>
  {% endif %}
  
	
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <a href="{{ post.referral-link }}"><h1 style="text-align: center;">Sign up now!</h1></a>

  <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

  {% include comments.html %}
  
</article>

<script src="/js/rating.min.js"></script>
{% include firebase.html %}
<script src="https://www.gstatic.com/firebasejs/3.4.1/firebase.js"></script>
<script>
  function changedRating(rating) {
      if (firebase.auth().currentUser) {
        saveRating(rating);
      } else {
        firebase.auth().signInAnonymously().then(function(value) {
          console.log("THEN");
          saveRating(rating);
        }).catch(function(error) {
          // Handle Errors here.
          var errorCode = error.code;
          var errorMessage = error.message;
          // [START_EXCLUDE]
          if (errorCode === 'auth/operation-not-allowed') {
            alert('You must enable Anonymous auth in the Firebase Console.');
          } else {
            console.error(error);
          }
        });
      }
  }

  function ratingKey() {
    var userId = firebase.auth().currentUser.uid;
    var site = "{{page.title}}";
    return 'ratings/' + site + "/" + userId;
  }

  function saveRating(rating) {
    console.log(ratingKey());
    firebase.database().ref(ratingKey()).set(rating);
  }

  function readRating() {
    firebase.database().ref(ratingKey()).once('value').then(function(snapshot) {
          if(snapshot.val() != null) {
            myRating.setRating(snapshot.val(),false);
          }
          console.log(snapshot.val());
    });
  }

  var el = document.querySelector('#rating');

  // current rating, or initial rating
  var currentRating = 0;

  // max rating, i.e. number of stars you want
  var maxRating= 5;

  // rating instance
  var myRating = rating(el, currentRating, maxRating, changedRating);

  firebase.auth().onAuthStateChanged(function(user) {
    if (user) {
      readRating();
    }
  });


</script>
